Repository picomet/picomet: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc-picomet, tsc-example

mypy:
  name: mypy
  entry: mypy
  args:
  - --enable-incomplete-feature=NewGenericSyntax
  language: system
  pass_filenames: false

tsc-picomet:
  name: tsc picomet
  entry: npx tsc -p tsconfig.json
  language: system
  pass_filenames: false

tsc-example:
  name: tsc example
  entry: npx tsc -p example/tsconfig.json
  language: system
  pass_filenames: false

docs: improve deploying guide
  docs/source/deploying.rst
Due: none

docs: improve comet guide
  docs/source/comet.rst
Due: none

deps(starter): update ruff and daphne
  src/picomet/template/requirements/dev.txt.jinja
Due: none

example: clean .env.example
  example/.env.example
Due: none

starter(dev): add tailwind vscode ext
  src/picomet/template/{% if VSCode %}.vscode{% endif %}/extensions.json.jinja
Due: none

chore(starter): update ruff pre-commit version
  src/picomet/template/{% if Precommit %}.pre-commit-config.yaml{% endif %}.jinja
Due: none

release: 0.0.29
  pyproject.toml
Due: none

feat: minify tailwind on production
  docs/source/comet.rst
  package-lock.json
  package.json
  src/picomet/parser.py
  src/picomet/tailwind.js
Due: mypy, tsc-picomet, tsc-example

fix(comet): add s- to props attribute
  example/apps/core/comets/components/A.html
  example/apps/core/comets/components/Blog.html
  src/picomet/parser.py
Due: mypy

example(fix): add csrf_token to post forms
  example/apps/core/comets/New.html
  example/apps/core/comets/Settings.html
Due: none

docs: add isServer var
  docs/source/comet.rst
Due: none

docs: improve comet.js description
  docs/source/comet.rst
Due: none

docs: fix typo
  docs/source/comet.rst
Due: none

docs: add loop item partial updating
  docs/source/action.rst
  docs/source/comet.rst
Due: none

release: 0.0.30
  pyproject.toml
Due: none

fix: run conditionals on partial update
  src/picomet/transformer.py
Due: mypy

docs: add Fragment
  docs/source/comet.rst
Due: none

docs: improve loop guide
  docs/source/comet.rst
Due: none

example: use fixed modal
  example/apps/core/comets/components/Login.html
  example/apps/core/comets/components/Signup.html
Due: none

release: 0.0.31
  pyproject.toml
Due: none

fix(cache): validate cache on start or reload
  src/picomet/compiler.py
  src/picomet/management/commands/recompile.py
Due: mypy

starter(deps): update ruff n pre-commit
  src/picomet/template/requirements/dev.txt.jinja
  src/picomet/template/{% if Precommit %}.pre-commit-config.yaml{% endif %}.jinja
Due: none

ci: add lint job
  .github/workflows/ci.yml
  .github/workflows/release.yml
  requirements.txt
  requirements/check.txt
Due: none

example: add local picomet to requirements
  example/requirements/base.txt
Due: none

readme: add server action to features
  README.md
Due: none

docs: improve s-if warning
  docs/source/comet.rst
Due: none

feat: add s-context function
  docs/source/comet.rst
  src/picomet/transformer.py
Due: mypy

example: update python packages
  example/requirements.txt
  example/requirements/base.txt
  example/requirements/dev.txt
Due: none

release: 0.0.32
  pyproject.toml
Due: none

ci: only run on pull_request
  .github/workflows/ci.yml
Due: none

example: update alpinejs
  example/comets/Base.html
Due: none

dev(vscode): update eslint flatconfig setting
  .vscode/settings.json
Due: tsc-picomet, tsc-example

starter: add picomet.alpinejs vscode ext
  src/picomet/template/{% if VSCode %}.vscode{% endif %}/extensions.json.jinja
Due: none

starter(deps): update alpinejs
  src/picomet/template/comets/Base.html.jinja
Due: none

deps(build): update esbuild
  package-lock.json
  package.json
Due: tsc-picomet, tsc-example

impr: use marker tags for partial updates
  docs/source/action.rst
  docs/source/comet.rst
  example/apps/core/comets/Blog.html
  example/apps/core/comets/Bookmarks.html
  example/apps/core/comets/Home.html
  example/apps/core/comets/New.html
  example/apps/core/comets/Settings.html
  example/apps/core/comets/User.html
  src/picomet/assets/picomet/comet.ts
  src/picomet/assets/picomet/hmr.ts
  src/picomet/compiler.py
  src/picomet/parser.py
  src/picomet/transformer.py
  src/picomet/types.py
  src/picomet/utils.py
Due: mypy, tsc-picomet, tsc-example

deps!: require django>=5.0
  pyproject.toml
Due: none

starter: update django doc ref version
  src/picomet/template/project/asgi.py
  src/picomet/template/project/settings/base.py.jinja
  src/picomet/template/project/settings/dev.py.jinja
  src/picomet/template/project/settings/pro.py.jinja
  src/picomet/template/project/urls.py
  src/picomet/template/project/wsgi.py
Due: mypy

dev(vscode): add picomet.alpinejs ext recommendation
  .vscode/extensions.json
Due: tsc-picomet, tsc-example

starter(deps): update node packages
  src/picomet/template/{% if Tailwind or Prettier %}package.json{% endif %}.jinja
Due: none

Path conditions:
  mypy: any of: src/(picomet/.+py|picomet/backends/.+py|picomet/management/.+/.+py)$
  tsc-picomet: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  tsc-example: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
