Repository picomet/picomet: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc-picomet, tsc-example

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--no-error-on-unmatched-pattern]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        args: [.]
        types_or: [ts, javascript, json]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        args: [--enable-incomplete-feature=NewGenericSyntax]
        files: src/(picomet/.+py|picomet/backends/.+py|picomet/management/.+/.+py)$
        language: system
        pass_filenames: false
      - id: tsc-picomet
        name: tsc picomet
        entry: npx tsc -p tsconfig.json
        types_or: [ts, javascript, json]
        language: system
        pass_filenames: false
      - id: tsc-example
        name: tsc example
        entry: npx tsc -p example/tsconfig.json
        types_or: [ts, javascript, json]
        language: system
        pass_filenames: false

starter(copier): change ASSR help text
  src/picomet/template/copier.yml
Due: none

starter(copier): set Precommit default to no
  src/picomet/template/copier.yml
Due: none

chore(classifiers): add django versions
  pyproject.toml
Due: none

chore(classifiers): add python 3.13
  pyproject.toml
Due: none

readme(badge): add django versions
  README.md
Due: none

example: add readme
  example/README.md
  example/requirements/base.txt
Due: none

fix(call): handle empty payload
  src/picomet/assets/picomet/comet.ts
Due: tsc-picomet, tsc-example

docs: add testing coming soon
  docs/source/index.rst
  docs/source/testing.rst
Due: none

chore: refactor transformer loop
  src/picomet/transformer.py
Due: mypy

fix(x-show): use ; style separator properly
  src/picomet/transformer.py
Due: mypy

contrib: add local picomet -e install
  CONTRIBUTING.md
Due: none

fix: properly end partials with conditional
  src/picomet/transformer.py
Due: mypy

release: 0.0.33
  pyproject.toml
Due: none

example: some ui improvements
  example/apps/core/comets/Blog.html
  example/apps/core/comets/New.html
  example/apps/core/comets/Settings.html
  example/apps/core/comets/components/Navbar.html
  example/comets/base.tailwind.css
Due: none

readme: improve intro
  README.md
Due: none

feat: nested layout
  README.md
  docs/source/comet.rst
  example/apps/core/actions.py
  example/apps/core/comets/AccountSettings.html
  example/apps/core/comets/Blog.html
  example/apps/core/comets/ProfileSettings.html
  example/apps/core/comets/components/Navbar.html
  example/apps/core/comets/icons/Account.html
  example/apps/core/comets/icons/Add.html
  example/apps/core/forms.py
  example/apps/core/urls.py
  example/apps/core/views.py
  example/comets/Base.html
  example/comets/base.tailwind.css
  example/comets/layouts/Settings.html
  src/picomet/assets/picomet/comet.ts
  src/picomet/backends/picomet.py
  src/picomet/compiler.py
  src/picomet/helpers.py
  src/picomet/parser.py
  src/picomet/template/comets/Base.html.jinja
  src/picomet/transformer.py
  src/picomet/types.py
  tsconfig.json
Due: mypy, tsc-picomet, tsc-example

fix: add s-csrf directive
  docs/source/action.rst
  docs/source/comet.rst
  example/apps/core/comets/AccountSettings.html
  example/apps/core/comets/Blog.html
  example/apps/core/comets/components/Bookmark.html
  example/apps/core/comets/components/Navbar.html
  example/apps/core/views.py
  src/picomet/transformer.py
Due: mypy

release: 0.0.34
  pyproject.toml
Due: none

docs: sync to latest features
  docs/source/action.rst
  docs/source/comet.rst
  docs/source/index.rst
Due: none

readme: add example screenshot
  README.md
  example.html
  example.png
Due: none

readme: change Alpine.js to Alpinejs
  README.md
Due: none

starter: modify Index.html structure
  src/picomet/template/apps/core/comets/Index.html
Due: none

fix(renderer): reset context after scope end
  src/picomet/transformer.py
Due: mypy

readme: change SPA emoji
  README.md
Due: none

deps(check): update mypy and ruff
  .pre-commit-config.yaml
  requirements/check.txt
Due: none

docs(ui): update rtd theme
  docs/requirements.txt
Due: none

about: update intro
  README.md
  docs/source/index.rst
Due: none

release: 0.0.35
  pyproject.toml
Due: none

fix(dist): include example.png
  MANIFEST.in
Due: none

refac: use new StrStore
  src/picomet/transformer.py
  src/picomet/types.py
Due: mypy

perf(be): add slots to StrCode
  src/picomet/types.py
Due: mypy

chore: update ruff pre-commit version
  .pre-commit-config.yaml
Due: none

about: switch to project source url
  pyproject.toml
Due: none

release: 0.0.36
  pyproject.toml
Due: none

example: do not gitignore .env
  .gitignore
  example/.env
Due: none

chore: modify gitignore
  .gitignore
Due: none

docs: add better intro to comet
  docs/source/comet.rst
Due: none

docs(typo): rending to rendering in intro
  README.md
  docs/source/index.rst
Due: none

docs: improve alpinejs ssr intro
  docs/source/comet.rst
Due: none

about(pypi): set license text
  pyproject.toml
Due: none
