Repository picomet/picomet: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc-picomet, tsc-example

mypy:
  name: mypy
  entry: mypy
  args:
  - --enable-incomplete-feature=NewGenericSyntax
  language: system
  pass_filenames: false

tsc-picomet:
  name: tsc picomet
  entry: npx tsc -p tsconfig.json
  language: system
  pass_filenames: false

tsc-example:
  name: tsc example
  entry: npx tsc -p example/tsconfig.json
  language: system
  pass_filenames: false

fix(starter): use installed django version
  src/picomet/copier.py
  src/picomet/template/requirements/base.txt.jinja
Due: mypy

deps(example): update django
  example/requirements/base.txt
Due: none

deps(check): update ruff
  .pre-commit-config.yaml
  example/apps/core/actions.py
  example/apps/core/decorators.py
  example/apps/core/views.py
  example/project/asgi.py
  example/project/urls.py
  requirements.txt
  src/picomet/compiler.py
  src/picomet/management/commands/build.py
  src/picomet/management/commands/recompile.py
  src/picomet/template/project/asgi.py
  src/picomet/template/project/urls.py
Due: mypy

release: 0.0.16
  pyproject.toml
Due: none

readme: add pypi version with url
  README.md
Due: none

fix(compiler): check if dep exists before reading
  src/picomet/compiler.py
  src/picomet/parser.py
Due: mypy

feat(comet): add safe func to use str as html
  docs/source/comet.rst
  src/picomet/backends/picomet.py
  src/picomet/transformer.py
Due: mypy

deps: add django to deps
  docs/source/installation.rst
  pyproject.toml
Due: none

impr(be): make redirect generic
  docs/source/view.rst
  example/apps/core/decorators.py
  example/apps/core/views.py
  src/picomet/http.py
  src/picomet/middleware.py
Due: mypy

feat(comet): add go navigation func
  docs/source/comet.rst
  src/picomet/assets/picomet/comet.ts
Due: tsc-picomet, tsc-example

release: 0.0.17
  pyproject.toml
Due: none

fix(fe): pushState in go func
  src/picomet/assets/picomet/comet.ts
Due: tsc-picomet, tsc-example

docs: use main tag in page
  docs/source/comet.rst
Due: none

release: 0.0.18
  pyproject.toml
Due: none

fix(compiler): try import channels
  src/picomet/compiler.py
Due: mypy

release: 0.0.19
  pyproject.toml
Due: none

fix(dist): include tailwind.js
  MANIFEST.in
Due: none

release: 0.0.20
  pyproject.toml
Due: none

fix: access sys.argv safely
  src/picomet/compiler.py
  src/picomet/loaders.py
  src/picomet/parser.py
Due: mypy

release: 0.0.21
  pyproject.toml
Due: none

feat(cli): add verbose mode to build
  src/picomet/management/commands/build.py
Due: mypy

release: 0.0.22
  pyproject.toml
Due: none

fix(parser): use relative path to save commets
  src/picomet/parser.py
Due: mypy

release: 0.0.23
  pyproject.toml
Due: none

fix(compiler): do shallow str strip on pro
  src/picomet/parser.py
Due: mypy

fix(starter): add pre-commit to requirements
  src/picomet/template/requirements/dev.txt.jinja
Due: none

deps(starter): update ruff
  src/picomet/template/requirements/dev.txt.jinja
  src/picomet/template/{% if Precommit %}.pre-commit-config.yaml{% endif %}.jinja
Due: none

release: 0.0.24
  pyproject.toml
Due: none

fix(hmr): use correct comet id
  src/picomet/compiler.py
  src/picomet/helpers.py
  src/picomet/parser.py
Due: mypy

release: 0.0.25
  pyproject.toml
Due: none

fix(starter): use correct vscode tailwind conf path
  src/picomet/template/{% if VSCode %}.vscode{% endif %}/settings.json.jinja
Due: none

fix(compiler): support binary assets
  src/picomet/compiler.py
  src/picomet/helpers.py
  src/picomet/parser.py
Due: mypy

release: 0.0.26
  pyproject.toml
Due: none

docs: fix line highlighting
  docs/source/comet.rst
Due: none

fix(parser): add parent key on comet load
  src/picomet/parser.py
Due: mypy

feat(comet): add Pro tag for debug=false
  docs/source/comet.rst
  src/picomet/parser.py
Due: mypy

fix(transformer): use element tag name for s-show
  src/picomet/transformer.py
Due: mypy

release: 0.0.27
  pyproject.toml
Due: none

fix(form): use csrf_token tag for form post
  docs/source/comet.rst
  src/picomet/assets/picomet/comet.ts
  src/picomet/parser.py
Due: mypy, tsc-picomet, tsc-example

release: 0.0.28
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: src/(picomet/.+py|picomet/backends/.+py|picomet/management/.+/.+py)$
  tsc-picomet: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  tsc-example: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
