Repository picomet/picomet: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc-picomet, tsc-example

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--no-error-on-unmatched-pattern]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        args: [.]
        types_or: [ts, javascript, json]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        args: [--enable-incomplete-feature=NewGenericSyntax]
        files: src/(picomet/.+py|picomet/backends/.+py|picomet/management/.+/.+py)$
        language: system
        pass_filenames: false
      - id: tsc-picomet
        name: tsc picomet
        entry: npx tsc -p tsconfig.json
        types_or: [ts, javascript, json]
        language: system
        pass_filenames: false
      - id: tsc-example
        name: tsc example
        entry: npx tsc -p example/tsconfig.json
        types_or: [ts, javascript, json]
        language: system
        pass_filenames: false

docs: add a long action introduction
  docs/source/action.rst
Due: none

feat: use uv
  README.md
  docs/source/comet.rst
  docs/source/deploying.rst
  docs/source/installation.rst
  src/picomet/cli.py
  src/picomet/template/pyproject.toml.jinja
  src/picomet/template/requirements.txt
  src/picomet/template/requirements/base.txt.jinja
  src/picomet/template/requirements/dev.txt.jinja
  src/picomet/template/{% if Ruff %}pyproject.toml{% endif %}.jinja
Due: mypy

docs: improve comet guide
  docs/source/comet.rst
Due: none

starter: add vercel deployment
  src/picomet/copier.py
  src/picomet/template/copier.yml
  src/picomet/template/project/wsgi.py.jinja
  src/picomet/template/{% if Deployment == 'Vercel' %}build.sh{% endif %}.jinja
  src/picomet/template/{% if Deployment == 'Vercel' %}vercel.json{% endif %}.jinja
Due: mypy

starter: use current python version
  src/picomet/template/pyproject.toml.jinja
Due: none

readme: improve getting started
  README.md
Due: none

release: 0.0.37
  pyproject.toml
Due: none

starter(deps): update ruff
  src/picomet/template/pyproject.toml.jinja
  src/picomet/template/{% if Precommit %}.pre-commit-config.yaml{% endif %}.jinja
Due: none

about: modify unstable tip
  README.md
  docs/source/index.rst
Due: none

readme: add get uv link in installation
  README.md
Due: none

impr(be): improve parser, renderer, and hmr.
  example/apps/core/comets/components/Navbar.html
  pyproject.toml
  src/picomet/backends/picomet.py
  src/picomet/compiler.py
  src/picomet/management/commands/build.py
  src/picomet/parser.py
  src/picomet/transformer.py
  src/picomet/types.py
  src/picomet/utils.py
Due: mypy

starter(deps): update python deps
  src/picomet/template/pyproject.toml.jinja
  src/picomet/template/{% if Precommit %}.pre-commit-config.yaml{% endif %}.jinja
Due: none

starter(deps): update js deps
  src/picomet/template/{% if Tailwind or Prettier %}package.json{% endif %}.jinja
Due: none

release: 0.0.38
  pyproject.toml
Due: none

docs: add missing import in redirect example
  docs/source/view.rst
Due: none

fix(parser): skip through Debug and Pro tag
  src/picomet/parser.py
Due: mypy

dev(vscode): add mypy ignore patterns
  .vscode/settings.json
Due: tsc-picomet, tsc-example

deps: switch from py-mini-racer to mini-racer
  docs/source/comet.rst
  example/requirements/base.txt
  src/picomet/template/pyproject.toml.jinja
Due: none

impr: from s-bind:x-prop: to just x-prop
  docs/source/action.rst
  example/apps/core/comets/Blog.html
  example/apps/core/comets/components/Bookmark.html
  src/picomet/parser.py
  src/picomet/transformer.py
Due: mypy

type: fix mini-racer ctx related checks
  src/picomet/parser.py
  src/picomet/transformer.py
  src/picomet/utils.py
Due: mypy

example: order bookmarks by -created_at
  example/apps/core/views.py
Due: none

feat(comet): add $S,$X fn to access python context
  docs/source/action.rst
  example/apps/core/comets/Blog.html
  example/apps/core/comets/components/Bookmark.html
  example/comets/Base.html
  src/picomet/parser.py
Due: mypy

example: update alpinejs
  example/comets/Base.html
Due: none

starter(deps): update alpinejs
  src/picomet/template/comets/Base.html.jinja
Due: none

release: 0.0.39
  pyproject.toml
Due: none

refac(renderer): do not cast skey to StrCode
  src/picomet/transformer.py
Due: mypy

fix(mapper): add proper locs to nested layout pages
  src/picomet/compiler.py
  src/picomet/parser.py
  src/picomet/transformer.py
  src/picomet/types.py
Due: mypy

example: add csrf_token to login,signup forms
  example/apps/core/comets/components/Login.html
  example/apps/core/comets/components/Signup.html
Due: none

release: 0.0.40
  pyproject.toml
Due: none

fix(comet): use a Fragment wrapper arround <Include/>
  src/picomet/parser.py
Due: mypy

example(chore): remove stale class
  example/apps/core/comets/components/Navbar.html
Due: none

docs: elaborate alpinejs ssr
  docs/source/comet.rst
Due: none

release: 0.0.41
  pyproject.toml
Due: none

feat(comet): support url in Js,Css tag
  docs/source/comet.rst
  src/picomet/helpers.py
  src/picomet/parser.py
  src/picomet/transformer.py
Due: mypy

release: 0.0.42
  pyproject.toml
Due: none
